* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(103, 85, 73);
    min-width: 320px;
    min-height: 100vh;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


#burger-menu {
    cursor: pointer;
    font-size: 2rem;
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 8px rgba(34, 34, 34, 0.613);
    padding: 30px 30px 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

ul {
    list-style: none;
}

#logo {
    width: 190px;
}

#logo img {
    object-fit: contain;
}

#nav-list {
    display: none;
    column-gap: 15px;
    font-size: 1rem;
}

#nav-list-mobile.active {
    right: 0;
}

#nav-list-mobile {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    padding: 30px;
    width: 50%;
    background-color: #f1f1f1;
    transition: right 0.5s;
}

#nav-list-mobile .nav-item {
    margin-bottom: 20px;
}

#nav-list-mobile i {
    display: block;
    width: fit-content;
    margin: 0 0 50px auto;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-item {
    position: relative;
}

.nav-item:hover::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 80%;
    height: 1px;
    background-color: #C49939;
}

#animation-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 180px auto 0;
    min-height: 700px;
    background: linear-gradient(to top, #C49939 40%, transparent);
    overflow: hidden;
}

#animation-section img {
    position: absolute;
    left: 0;
}

#sun, #temple {
    top: 800px;
    filter: brightness(0.9) saturate(30%) sepia(40%);
}

#sun {
    filter: brightness(0.9) sepia(35%);
    transition: top 3s;
    z-index: 1;
}

#temple {
    left: 50%;
    transition: top 4s 1s;
    z-index: 2;
}

#animation-section #floor {
    bottom: -180px;
    filter: sepia(80%) brightness(24%);
    transform: scaleX(-1);
    z-index: 4;
}

#plants {
    bottom: -200px;
    filter: brightness(0.9) sepia(80%);
    transform: scaleX(-1);
    z-index: 4;
}

h2, h1 {
    color: #fff;
}

h1 {
    font-size: 2.1rem;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 30px;
}

#title-group {
    position: relative;
    padding: 80px 15px 0;
    text-align: center;
    top: -290px;
    opacity: 0;
    transition: opacity 1.5s 4.5s;
    z-index: 5;
}

#title-group button {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgb(124, 88, 65);
    background-color: #f1f1f1;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    margin: 0 auto;
    cursor: pointer;
}

button i {
    font-size: 1rem;
    color: #C49939;
}

#description-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 30px;
    background-color: #f1f1f1;
}

#description {
    width: 100%;
    max-width: 600px;
    flex-shrink: 0;
    padding: 30px;

}

#description p {
    text-align: justify;
}

#description-section h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

#illustration {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    position: relative;
    padding-top: 30px;
    width: 100%;
    max-width: 600px;
    flex-shrink: 0;
}


#illustration::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-image: url("./img/sand.png");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: -50px;
}

#illustration img {
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.322);
}

#illustration img:nth-child(2) {
    position: relative;
    top: -45px;
    left: -50px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100px;
    row-gap: 50px;
    min-height: 300px;
    background-color: #F1F4F6;
    width: 100%;
    margin: 0 auto;
    padding: 100px 30px;
}

#footer-logo {
    width: 250px;
}

#footer-logo img {
    object-fit: contain;
}

#footer-nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 1;
}

.footer-list {
    border-top: 1px solid rgba(118, 118, 118, 0.441);
    padding-top: 40px;
    flex-grow: 1;
}

.footer-list li:first-child {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-list li:not(:first-child) {
    margin-bottom: 8px;
}

@media all and (min-width: 600px) {
    #main-nav, footer, #animation-section, #description-section {
        width: 95%;
    }

    #illustration::before {
        left: 70%;
        background-size: 500px;
        background-position: -50px;
    }

}


@media all and (min-width: 900px) {
    #burger-menu {
        display: none;
    }

    #nav-list {
        display: flex;
    }

    #nav-list-mobile {
        display: none;
    }

    footer {
        flex-direction: row;
    }

    #footer-nav {
        flex-direction: row;
    }
}